body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
    
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: #FCBF49;
}
.red{
    background-color: #D62828;
}
.blue{
    background-color: #003049;
}
.orange{
    background-color: #F77F00;
}
.flash{
    box-shadow: 0 0 20px wheat;
    background-color: white;
}
.gameFlash{
    background-color: limegreen;
    box-shadow: 0 0 20px limegreen;
    border-color: white;
}